# ========================================
# LaTeX
# ========================================

*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz


# ========================================
# Builds temporales
# ========================================

build/


# ========================================
# macOS
# ========================================

.DS_Store